body {
    font-family: Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, textarea, select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input:hover, textarea:hover, select:hover {
    background-color: #f9f9f9;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.categorias-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categoria-seleccionada button {
    font-size: 8px;
    color: #ff0000;
    cursor: pointer;
}

.nivel {
    background-color: #f1f1f1;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.nivel input, .nivel textarea {
    width: 100%; 
}

.categorias-options select {
    width: auto; /* Cambiar a 'auto' para que no cubra toda la sección */
    padding: 10px;
    border-radius: 5px;
}

.categorias-options select {
    width: auto; /* Cambiar a 'auto' para que no cubra toda la sección */
    padding: 10px;
    border-radius: 5px;
}